.card-header {
    background-color: #437c88 !important;
}

.body {
    background-color: #f8f9fa;
}

.text-success,
.text-warning {
    color: #ffd60a !important;
}

.btn-warning {
    background-color: #ffd60a !important;
}